<!-- Generic -->
  <article class="container box style3">
    <header>
      <h2>About Me</h2>
      <p>Just a generic box. Nothing to see here.</p>
    </header>
    <section>
      <header>
        <h3>Lauren Little</h3>
        <p>Full Stack Web Developer</p>
      </header>
      <p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
      habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
      leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
      amet risus elit.</p>
    </section>
    <section>
      <header>
        <h3>Blockquote</h3>
      </header>
      <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
      tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
    </section>
    <section>
      <header>
        <h3>Divider</h3>
      </header>
      <p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
      ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
      facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
      tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia.</p>
      <hr />

    </section>
  </article>
