
<!-- Header -->
  <section id="header">
    <header>
      <h1>Lauren Little</h1>
      <p>Full Stack Web Developer</p>
    </header>
    <footer>
      <a href="#banner" class="button style2 scrolly-middle">Click to Learn More</a>
    </footer>
  </section>

<!-- Banner -->
  <section id="banner">
    <header>
      <h2>Lauren Little</h2>
      <h2>Full Stack Web Developer</h2>
    </header>
    <p> Based in South Florida, I'm an up and coming Web Developer with skills in
      MongoDB, Express, Angular2, and  Node.js (M.E.A.N. Stack).<br>If you are seeking to hire a passionate,
      eager developer, feel free to get in contact with me </p>
    <footer>
      <a href="/contact" class="button style2 scrolly">Send Me a Message</a>
      <a href="#first" class="button style2 scrolly">See Projects</a>
    </footer>
  </section>

<!-- Project 3 -->
<h2> Projects</h2>
  <article id="first" class="container box style1 right">
    <a href="http://www.schooldojo.co/" class="image fit">
      <img src="images/schooldojo.png" alt="schooldojo"/></a>
    <div class="inner">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
       <div class="flipper">
         <div class="front">
          <header>
            <h2>School Dojo</h2>
          </header>
        </div>
        <div class="back">
         <p>A platform to connect all members within a school and build amazing
            school communities. <br><br> <b>Technologies Used: </b> Angular 2,
            JavaScript, NodeJS, MongoDB, Mongoose, Express, PassportJS, HTML,
            CSS3, Bootstrap, Heroku</p>
        </div>
      </div> <!-- div flipper -->
     </div> <!-- div flipper-container -->
    </div> <!-- div inner -->
  </article>

  <!-- Project 2 -->
    <article class="container box style1 left">
      <a href="https://ihomeworkplanner.herokuapp.com/" class="image fit"><img src="images/ihomework.png" alt="" /></a>
      <div class="inner">
       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
         <div class="front">
          <header>
            <h2>iHomework Online Planner</h2>
          </header>
         </div>
         <div class="back">
          <p>An online planner web application that allows users to easily homework,
            projects, and other assignments for each class, as well as prioritizing
            assignments. <br><br> <b>Technologies Used: </b> JavaScript, NodeJS, MongoDB,
            Mongoose, Express, PassportJS, HTML, CSS3, Bootstrap, Heroku</p>
          </div>
        </div> <!-- div flipper -->
       </div> <!-- div flipper-container -->
      </div> <!-- div inner -->
    </article>


<!-- Project 1 -->

<article class="container box style1 right">
   <a href="https://lolomain.github.io/week3-game-project/" class="image fit">
     <img src="images/krabsgame.png" alt=""/></a>

   <div class="inner">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
     <div class="flipper">

      <div class="front">
        <header>
          <h2>Mr Krab's <br> Coin Catch</h2>
        </header>
       </div>

       <div class="back">
        <p>Mr. Krab's Coin Catch <br>Simple Falling Objects Game designed to practice
          the principles of programming.<br><br> <b> Technologies used: </b>
          HTML, CSS, Bootstrap, Canvas, Javascript and jQuery</p>
       </div>

      </div>
     </div>
   </div>

</article>
