
<!-- Header -->
  <section id="header">
    <header>
      <h1>Lauren Little</h1>
      <p>Full Stack Web Developer</p>
    </header>
    <footer>
      <a href="#banner" class="button style2 scrolly-middle">Click to Learn More</a>
    </footer>
  </section>

<!-- Banner -->
  <section id="banner">
    <header>
      <h2>Lauren Little</h2>
      <h2>Full Stack Web Developer</h2>
    </header>
    <p> Based in South Florida, I'm an up and coming Web Developer with skills in
      MongoDB, Express, Angular2, and  Node.js (M.E.A.N. Stack).<br>If you are seeking to hire a passionate,
      eager developer, feel free to get in contact with me </p>
    <footer>
      <a href="#first" class="button style2 scrolly">Send Me a Message</a>
    </footer>
  </section>

<!-- Project 3 -->
  <article id="first" class="container box style1 right">
    <a href="http://www.schooldojo.co/" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
    <div class="inner">
      <header>
        <h2>School Dojo</h2>
      </header>
      <p>Click for Description</p>
    </div>
  </article>

  <!-- Project 2 -->
    <article class="container box style1 left">
      <a href="https://ihomeworkplanner.herokuapp.com/" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
      <div class="inner">
        <header>
          <h2>iHomework Online Planner</h2>
        </header>
        <p>Click for Description</p>
      </div>
    </article>


<!-- Project 1 -->
  <article class="container box style1 right">
    <a href="https://lolomain.github.io/week3-game-project/" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
    <div class="inner">
      <header>
        <h2>Mr Krab's <br> Coin Catch</h2>
      </header>
      <p>Click for Description</p>
    </div>
  </article>
